.linkedIn {
    width: 40px;
    height: 40px;
    color: #0090C0;
    background-color: white;
  
}
.linkedIn-small {
    width: 30px;
    height: 30px;
    color: #0090C0;
    background-color: white;
}
.linked-big {
    font-size: 25px;
    font-weight: 800;
    display: flex;

}

.footer {
    font-size: 12px;
    color: #485d69;
    line-height: 2.5;
    font-weight: 600;
}
ul li {
    list-style: none;
}
.navBar {
    background-color:  #293E4A !important;
   
}


.text-white {
    display: flex;
    flex-direction: column ;
    justify-content: flex-end;
    align-items:  center;
}
.nav-link {
    color: #fff ;
}

.profile {
    position: relative;
}
.profile::before {
    content : '';
    position: absolute;
 
    bottom: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;    

}