.linkedIn {
    width: 40px;
    height: 40px;
    color: #0090C0;
    background-color: white;
}
.linkedIn-small {
    width: 30px;
    height: 30px;
    color: #0090C0;
    background-color: white;
}
.linked-big {
    font-size: 25px;
    font-weight: 800;
    display: flex;

}
.vl {
    border-left: 1px solid #5C6F7C;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;

}
.search-bar {
  
    height: 5px;
    
}
.footer {
    font-size: 12px;
    color: #485d69;
    line-height: 2.5;
    font-weight: 600;
}
.navDrop {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    line-height: 0.5;

}
.nav-link {
    color: #fff !important;
}
ul li {
    list-style: none;
}
.navBar {
    background-color:  black !important;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 0;
}


.text-white {
    display: flex;
    flex-direction: column ;
    justify-content: flex-end;
    align-items:  center;
}
.nav-link {
    color: #fff ;
}

.profile {
    position: relative;
}
.profile::before {
    content : '';
    position: absolute;
 
    bottom: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;    

}
#basic-nav-dropdown .dropdown-menu {
  
        position: absolute;
      width: 300px !important;
       
        transform: translateX(-105%) ;
        
        border: var(--border);
      
        padding: 1rem;
        overflow: hidden;
        transition: height var(--speed) ease;
      
  }
  .ok{
      height: 35px;
      border-radius: 2px;
     
  }