.linkedIn {
    width: 40px;
    height: 40px;
    color: #0090C0;
    background-color: white;
  
}
.navBar {
    background-color:  #293E4A !important;
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-white {
    display: flex;
    flex-direction: column ;
    justify-content: flex-end;
    align-items:  center;
}
.nav-link {
    color: #fff ;
}

.profile {
    position: relative;
}
.profile::before {
    content : '';
    position: absolute;
 
    bottom: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;    

}