body {
    background-color: #F5F5F5 !important;
}
.jumbo-prof { 
    padding: 30px 10px !important;
}
.jumbo-prof-1 {
    padding: 30px 30px !important;
}
.colorBlue {
    color: #006097;
    font-weight: 600;
}
.back-blue {
    background-color:#F3F6F8 !important;
}
.numb {
    font-size: 30px;
    color: #006097;
}
.recommend-btn {
    border: 1px solid #006097;
    border-radius: 2px;
    padding: 2px 30px;
    color: #006097;
    font-weight: 600;
}
.rec {
    display: flex;
    align-items: center;
}
.small-reccomend {
    font-size: 13px;
    font-weight: 700;
}
.grey {
    color: #414141;
}
.underl {
    border-bottom: 2px solid #006097;
    padding-bottom: 19px;
}
.small-reccomend:hover {
    border-bottom: 2px solid #006097;
    padding-bottom: 19px;
    text-decoration: none;
    color: #006097;
}
.btn-upload {
    background-color: none;
    border: none;
}
.head-prof {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* background: url('/public/Component/Content/Profile/jumboCover.jpeg'); */
}
.exper-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.font-nav {
    font-size: 12px;
    font-weight: 700;
}
.sign-nav {
    font-size: 25px;
}
.jumbo-box {
    margin-top: 100px;
    padding-top: 0 !important;
}