.dropdown {
    position: relative;
    display: inline-block;
  }
  .img-jumbo {
    position: absolute;
    bottom: 80px;
    left: 20px;
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 50%;
  }
  .bio {
    font-size: 15px;
    letter-spacing: 3px;

  }
.email {
  font-size: 10px;
   display: none;
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
 
    z-index: 1;
  }
  .name {
    font-size: 25px;
    font-weight: 600;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }
 
  .dropdown-content{
      width: 730px !important;
      background-color: white;
      border: 1px solid rgba(128, 128, 128, 0.219);
      text-align: left;
      padding-left: 20px;
     
  }
  
  #quiz{
    width: 160px !important;
    background-color: white;
    color: rgba(0, 119, 255, 0.795);
    border: 1px solid rgba(0, 119, 255, 0.795);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
  }
  #quiz:hover{
    background-color: rgba(67, 120, 155, 0.192);
  }
  button:focus {
    outline: 0 !important;
}
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .jumbotron {
    background-color: #fff !important;
  }
 
  .box {
    border: 1px solid #DFDFDF;
  }
 
  .jumbotron {
    padding-bottom: 20px !important;
  }
  
  li{
  margin: 0 0 20px 0;
}
